/* убирает 4px у картинок в ссылках и адаптация картинок по ширине */
img {
  display: block;
  width: 100%;
}

/* убирает точки и margin в списках */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* убирает margin в h */
.title {
  padding: 0;
  margin: 0;
}
